<th:block th:fragment="fields">
    <div>
        <label>Name:</label>
        <input type="text" th:field="*{name}" class="form-control"/>
        <div class="invalid-feedback"
        th:if="${#fields.hasErrors('name')}"
        th:errors="*{name}"
        style="display:block">
        </div>
    </div>
    <div>
        <label>Description:</label>
        <textarea th:field="*{description}" class="form-control"></textarea>
    </div>
    <div>
        <label>Price:</label>
        <input type="number" th:field="*{price}" class="form-control"/>
        <div class="invalid-feedback"
        th:if="${#fields.hasErrors('name')}"
        th:errors="*{name}"
        style="display:block">
        </div>
        <div>
            <label>Category</label>
            <select class="form-control" th:field="*{category}" required>
                <option 
                th:each="category: ${categories}" 
                th:value="${category.id}" 
                th:text="${category.name}"></option>

            </select>
        </div>
        <!-- Multi select for selecting tags -->
        <div>
            <label>Tags</label>
            <select multiple class="form-control" name="tagIds">
                <option th:each="tag: ${allTags}"
                th:value="${tag.id}"
                th:text="${tag.name}"
                th:selected="${product.tags != null and product.tags.contains(tag)}">
            </option>
            </select>
        </div>
    </div>
</th:block>