#champion-image {
    height: 100%;
    width: 100%;
}

.image_wrapper {
    position: relative;
}

.overlay {
    position: absolute;
    background: rgba(216, 216, 216, 0.596);

    /* center overlay text */
    display: flex;
    align-items: center;
    justify-content: center;
}

.overlay_2 {
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

.overlay_2 {
    inset: 0;
}