<html lang="eng" xmlns:th="http://www.thymeleaf.org"
    th:replace="~{base::html(
    ~{::title}, ~{::content}, ~{::additionalCss}, ~{}
    )}"
>

<th:block th:fragment="additionalCss">
    <link rel="stylesheet" href="style.css">
</th:block>

<title>喵喵</title>
<th:block th:fragment="content">
        <img src="/images/sad cat.jpg" id="champion-image">
        <h1>喵喵喵喵喵喵喵喵喵喵</h1>
        <p>Your one-stop place to stock up all your Meow essentials</p>
        <p>Current Date Time: <span th:text="${currentDateTime}"></span></p>
</th:block>

</html>